<% if(loggedin){ %> 
<% include header-loggedin %> 
<% }else{ %>
<% include header %>
<% } %>


	<section>
		<div class="cms-container inner">
			
			<div class="cms-bar">

				<a href="" class="bar-link">
				New Product
				</a><!-- /.bar-link-->

				<a href="" class="bar-link">
				Update Product
				</a><!-- /.bar-link-->

				<a href="" class="bar-link">
				Remove Product
				</a><!-- /.bar-link-->
			</div><!-- /.cms-bar-->
			
				<div class="cms-content">

				</div><!-- /.cms-content-->
		
		</div><!-- /.cms-container-->
	</section>


<% include footer%>