<% if(loggedin){ %> 
<% include header-loggedin %> 
<% }else{ %>
<% include header %>
<% } %>


	<section>
		<div class="cms-container inner">
			
			<div class="cms-bar">

				<a href="/admin/new_product" class="bar-link">
				New Product
				</a><!-- /.bar-link-->

				

			</div><!-- /.cms-bar-->
			
				<% if(cont == "new"){ %> 
				<% include admin-new-product %> 
				<% }if(cont == "update"){ %>
				<% include admin-update-product %>
				<% }if(cont == "remove"){ %>
				<% include admin-remove-product %>
				<% } %>
				
		
		</div><!-- /.cms-container-->
	</section>


<% include footer %>