			<section>
				<div class="featured inner">
					<img class="logo" src="/images/saucelogo.png" alt="gimme sauce logo"/>

					<p>Unique products for interesting people.</p>

					<div class="search-bar">
						<form method="post">
							<input type="text" name="search" value="Search"/>
							<div class="search-submit">
								<input type="submit" value="" />
								<img src="/images/search-icon.png" alt="search">
							</div><!-- /.search-submit-->	
						</form>
					</div><!-- /.search-bar-->
				</div><!-- /.featured-->
			</section>

			<section>
				<div class="products">
					<div class="product-block">
						
						<a target="_blank" href="http://www.amazon.com/gp/product/B000VQBQ1K/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000VQBQ1K&linkCode=as2&tag=saltnfresh-20">

							<div class="product-image">
								<img src="/images/products/ninja-ducks.jpg" alt="Rubber Duck">
							</div><!-- /.product-image-->

							<h2>Ninja Ducks</h2>

							<p>1 Dozen (12) awesome Ninja rubber ducks. These things kick ass!</p>

						</a>
					</div><!-- /.product-block-->

					<div class="product-block">
						
						<a target="_blank" href="http://www.amazon.com/gp/product/B000VQBQ1K/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000VQBQ1K&linkCode=as2&tag=saltnfresh-20">

							<div class="product-image">
								<img src="/images/products/ninja-ducks.jpg" alt="Rubber Duck">
							</div><!-- /.product-image-->

							<h2>Ninja Ducks</h2>

							<p>1 Dozen (12) awesome Ninja rubber ducks. These things kick ass!</p>

						</a>
					</div><!-- /.product-block-->

					<div class="product-block">
						
						<a target="_blank" href="http://www.amazon.com/gp/product/B000VQBQ1K/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000VQBQ1K&linkCode=as2&tag=saltnfresh-20">

							<div class="product-image">
								<img src="/images/products/ninja-ducks.jpg" alt="Rubber Duck">
							</div><!-- /.product-image-->

							<h2>Ninja Ducks</h2>

							<p>1 Dozen (12) awesome Ninja rubber ducks. These things kick ass!</p>

						</a>
					</div><!-- /.product-block-->

					<div class="product-block">
						
						<a target="_blank" href="http://www.amazon.com/gp/product/B000VQBQ1K/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000VQBQ1K&linkCode=as2&tag=saltnfresh-20">

							<div class="product-image">
								<img src="/images/products/ninja-ducks.jpg" alt="Rubber Duck">
							</div><!-- /.product-image-->

							<h2>Ninja Ducks</h2>

							<p>1 Dozen (12) awesome Ninja rubber ducks. These things kick ass!</p>

						</a>
					</div><!-- /.product-block-->
				</div><!-- /.products-->
			</section>