<div class="cms-content">
	<div class="form">
		<h2>New Product</h2>

		<form action="/action_upload" method="post" enctype="multipart/form-data">
			<input id="new-title" type="text" name="title" placeholder="Title"/>

			<input id="new-link" type="text" name="link" placeholder="Affiliate link"/>

			<input type="file" name="fileupload"/>

			<textarea id="new-desc" name="description" placeholder="Description"></textarea>

			<input type="submit" value="submit"/>
			<!-- <button id="new-prod" >Save</button> -->
		</form>
	</div><!-- /.form-->
</div><!-- /.cms-content-->
		