<div class="cms-content">
	<div class="form">
		<h2>update Product</h2>

			<input id="new-title" type="text" name="title" placeholder="Title" value="<%= title %>"/>

			<input id="new-link" type="text" name="link" placeholder="Affiliate link" value="<%= link %>"/>

			<input type="file" />

			<textarea id="new-desc" placeholder="Description"><%= desc %></textarea>

			<button id="new-prod" >Save</button>
	</div><!-- /.form-->
</div><!-- /.cms-content-->