
<% include header %>

		<section class="cms">

			<div class="login-form">
					<h2>Login to Gimme Sauce</h2>

					<input id="username-login-field" name="username" type="text" placeholder="Username" autofocus="autofocus"/>
					
					<input id="password-login-field" name="password" type="password" placeholder="Password"/>
						
					<button id="login-submit-button" class="submit-button" >Submit</button>


				<p id="login-error-message"></p>
				<a id="forgot-pass" href="action_forgot_password">forgot password?</a>
			</div><!-- /.login-form -->
		</section>
			
<% include footer %>