<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gimme Sauce  |  Unique products for interesting people</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link type="text/plain" rel="author" href="/humans.txt" />
	<link rel="shortcut icon" href="http://adamshields.com/favicon.ico" />

	<link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/responsive-gs-12col.css" /><!-- resopnsive.gs grid system -->
	<link rel="stylesheet" href="css/ie.css" /><!-- responsive.gs grid system -->
	<link rel="stylesheet" href="css/main.css" />

	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->

</head>
	<body>
		<header class="inner">
			<a href="/"><img src="/images/logomark.png" alt="gimme sauce logomark"/></a>

			<div class="login-form">

					<input id="username-login-field" name="username" type="text" placeholder="Username" autofocus="autofocus"/>
					
					<input id="password-login-field" name="password" type="password" placeholder="Password"/>
						
					<button id="login-submit-button" class="submit-button" >Submit</button>


				<p id="login-error-message"></p>
				<a id="forgot-pass" href="action_forgot_password">forgot password?</a>
			</div><!-- /.login-form -->
		</header>
		